1. **Extract** inputs data from CSV files.
2. **Transform** data into inputs/targets.
3. **Load** outputs data into parquet files.

# IMPORTS

In [2]:
import pandas as pd

# CONFIGS

## Extract

In [3]:
MALL = "../data/md.csv"

## Transform

In [4]:
INDEX_COL = "CustomerID"
TARGET_COL = 'Spending_Score'

## Load

In [5]:
INPUTS_FILE = "../data/inputs.parquet"
TARGETS_FILE = "../data/targets.parquet"

# EXTRACT

## Hour

In [10]:
md = pd.read_csv(MALL, index_col=INDEX_COL)
print("Hour:", md.shape)
md.head()

Hour: (200, 4)

             Genre  Age  Annual_Income  Spending_Score
CustomerID
1             Male   19             15              39
2             Male   21             15              81
3           Female   20             16               6
4           Female   23             16              77
5           Female   31             17              40

# TRANFORM

## Inputs

In [14]:
inputs = md.drop(TARGET_COL, axis="columns")
inputs['Genre']=inputs['Genre'].map({"Male":0,"Female":1})
print("Inputs:", inputs.shape)
inputs.head()

Inputs: (200, 3)

            Genre  Age  Annual_Income
CustomerID
1               0   19             15
2               0   21             15
3               1   20             16
4               1   23             16
5               1   31             17

## Targets

In [15]:
targets = md[TARGET_COL].to_frame()
print("Targets:", targets.shape)
targets.head()

Targets: (200, 1)

            Spending_Score
CustomerID
1                       39
2                       81
3                        6
4                       77
5                       40

# LOAD

## Inputs

In [16]:
inputs.to_parquet(INPUTS_FILE)

## Targets

In [17]:
targets.to_parquet(TARGETS_FILE)